/////////////////////////////////////// Header CSS
#ganymedeHeader {
	width:100%;	

}

#headerGraphic {
	background:#351e58 url("/ganymede/images/ganymedeHeader.jpg") top left no-repeat;
	text-align:left;
	height:200px;
	border-bottom:1px solid #CF5D07;
}