table.list tr td {
	vertical-align: top;
	padding-bottom:5px;
	border-bottom:1px solid grey;
}

table.list {
	border:1px solid grey;	
}

table.list tr.header {
	font-weight:bold;	
}

.required {
	color:red;
	text-align:right;
}

.expandProjects {
	font-size:80%;
}

#selectProjects {
	font-size:90%;
}

.invisible {
display:none;
}
.visible {
display:inline;
}

.infoWindow {
   min-height: 200px;
}